/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: white;
}

/* Header Section */

.header-container {
    display: flex;
    border-radius: 10px;
    margin-bottom: 130px;
    margin: 20px;
    background: #161616;
}

.header-container .header-text {
    color: #FFFFFF;
    padding: 50px;
    width: 50%;

}

.header-container .header-text h1 {
    font-size: 42px;
    bottom: 20px;
}

.header-container .header-text p {
    font-size: 16px;
}

.header-container .header-text button {
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    color: white;
    font-weight: 700;
}

.header-img {
    background: url(images/goal-bar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 50%;
}

.header-img .ball {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    margin-top: 54%;
}

.header-img img {
    width: 10%;
}

.ball {
    transition: transform 0.3s ease-out;
}

.header-img:hover .ball {
    transform: rotate(90deg);
    transform: translate(280px, -50%);
    padding-top: -60px;
    transform: scale(0.5) translate(-100%, -100%) rotate(0.5turn);

}


/* Nav Section Start */

.nav-container {
    display: flex;
    margin: 20px;
    flex-direction: row;
}

.nav-section {
    background: #161616;
    border-radius: 10px;
    margin-right: 24px;
    height: 300px;
    width: 312px;
}

.all-button {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0px 30px;
}

.all-button button {
    padding: 17px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}

.all-button button a {
    text-decoration: none;
    color: #161616;
}

.all-button button:hover {
    background-color: #DD0000;
    color: white;
}

/* Main Section */
.main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.transfer {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 5px;
}

.transfer .match-vs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.transfer .match-text {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.transfer span {
    padding: 0 5px;
}

.button-text {
    padding: 20px;
}

.button-text button {
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}

.button-text p {
    font-size: 18px;
    font-weight: 600;
}

.match-vs #img-style {
    width: 40%;
}

.transfer img {
    width: 100%;
}

.icons {
    display: flex;
    color: rgba(22, 22, 22, 0.7);
    font-size: 16px;
}

.icons p {
    margin-right: 40px;
}

/* Only Table */
.view-all {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-right: -25%;
}

.view-all button {
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #DD0000;
    font-weight: 700;
}



/* Footer Container style start */
.footer-container {
    width: 100%;
    background: #161616;
    margin-top: 50px;
}

.footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0px;
}

.footer hr {
    margin: 0px 20px;
}

.footer-container h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;

}

.footer-container .footer-text {
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.footer-container .footer-text ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin: 0px 20px; */
    padding: 0px;
}

.footer-container .footer-text ul li {
    text-decoration: none;
    list-style: none;
    margin: 20px 20px;
    color: #B9B9B9;
    font-size: 16px;
}

/* Social Icons style start */
.social-icons {
    color: white;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.social-icons ul {
    display: flex;
}

.social-icons ul li {
    background-color: coral;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid ghostwhite;
    list-style: none;
    margin: 10px;

}

.social-icons ul li a {
    color: white;
}

/* Media Query styles */
@media only screen and (max-width: 688px) {
    .header-container .header-text h1 {
        font-size: 31px;
        bottom: 20px;
    }

    .header-container {
        /* display: flex; */
        /* margin: 20px; */
        /* background: #161616; */
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 95%;
    }

    .header-img .ball {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: flex;
        margin-top: 31%;
    }

    .header-img {
        background-size: 80%;
        width: 115%;
        padding: 50px 0px;
    }

    .all-button {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .all-button button {
        padding: 12px;
        margin: 6px;
        border-radius: 7px;
        font-weight: 700;
        font-size: 13px;
    }

    .nav-section {
        background: #161616;
        border-radius: 10px;
        /* margin-right: 24px; */
        width: 95%;
        height: 55px;
        padding: 20px;
    }

    .nav-container {
        display: flex;
        margin: 20px;
        flex-direction: column;
    }

    .main-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }

    .footer-container .footer-text ul {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* margin: 0px 20px; */
        padding: 0px;
        flex-direction: column;
    }

    .match-vs #img-style {
        width: 35%;
    }
}